<div class="flex">
    <table class="w-1/2">
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
            <th>Column 3</th>
            <th>Column 4</th>
        </tr>
        <tr>
            <td>Data 1</td>
            <td>Data 2</td>
            <td>Data 3</td>
            <td>Data 4</td>
        </tr>
        <tr>
            <td>Data 5</td>
            <td>Data 6</td>
            <td>Data 7</td>
            <td>Data 8</td>
        </tr>
        <!-- Add more rows as needed -->
    </table>

    <div id="map2"  class="w-1/2 h-screen h"></div>

</div>