

<fieldset class="p-3 border border-gray-300 border-solid rounded-md">
    <legend class="px-2 text-lg font-semibold text-gray-400 ">Average & Max Speed</legend>

    <div class="chart-container">
        <canvas id="MyChart3" #distanceChart class="w-full"></canvas>
    </div>

    
    <div class="flex space-x-2 text-lg slider-controls">
        <button (click)="previousDay()" class="slider-button" >&#8249;</button>
        <button (click)="nextDay()" class="slider-button" >&#8250;</button>
    </div>
</fieldset>
