<div class="container mx-auto mt-2 ">
    <div class="mb-4">
        <!-- <button class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700" >Month</button> -->
    </div>
    <div>
        <canvas id="MyChart3" #distanceChart class="w-full">{{ chart}}</canvas>
    </div>
    <div>
        <button class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700" (click)="previousDay()">Previous Day</button>
        <button class="px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-700" (click)="nextDay()">Next Day</button>
    </div>
</div>
