<div class="min-h-screen p-4 bg-gray-100">
    <div class="p-6 mx-auto bg-white rounded shadow max-w-7xl">
      <h1 class="mb-4 text-2xl font-bold">Fleet Maintenance</h1>
  
      <div class="flex items-center justify-between mb-4">
        <input
          type="text"
          placeholder="Search for a car..."
          class="w-1/3 px-4 py-2 border border-gray-300 rounded"
          [(ngModel)]="searchTerm"
          (ngModelChange)="filterCars()"
        />
      </div>
  
      <table class="min-w-full bg-white">
        <thead>
          <tr>
            <th class="px-4 py-2 border-b">Car Name</th>
            <th class="px-4 py-2 border-b">Maintenance Status </th>
            <th class="px-4 py-2 border-b"> Maintenance Date</th>
            <th class="px-4 py-2 border-b">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let car of filteredCars">
            <td class="px-4 py-2 border-b">{{ car.name }}</td>
            <td class="px-4 py-2 border-b">{{ car.maintenance}}</td>
            <td class="px-4 py-2 border-b">{{ car.maintenance_date | date }}</td>
            <td class="px-4 py-2 border-b">
              <button
                class="px-4 py-2 text-white bg-blue-500 rounded"
                (click)="delete(car.thing_id)"
              >
                Schedule Maintenance
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  