
<div class="sidebar h-screen/2"></div>
<div class="flex items-center justify-center">
  <svg class="w-12 h-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></svg>
  <!-- SVG code for the car goes here -->
  <button (click)="onClose()" class="absolute top-0 right-0 p-2 text-gray-500 hover:text-gray-700 focus:outline-none">
    <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M6 18L18 6M6 6l12 12"></path>
    </svg>
  </button>
  <div class="py-4 ml-2">
    <h2 class="mb-6 text-lg font-bold text-center">Real time Car Information</h2>
    <ul class="space-y-2 text-sm text-gray-600">

      <li class="flex items-center ">
        <span class="mr-2 font-bold">Car Status:</span>
        <span class="text-blue-500">{{car.status}}</span>
      </li>

      <li class="flex items-center">
        <span class="mr-2 font-bold">Car Name:</span>
        <span class="text-blue-500">{{car.thing_id}}</span>
      </li>
      <li class="flex items-center">
        <span class="mr-2 font-bold">Car Speed:</span>
        <span class="text-blue-500">{{car.speed}}</span>
      </li>
      <li class="flex items-center">
        <span class="mr-2 font-bold">Latitude:</span>
          <span class="text-blue-500"> {{car.latitude}}</span>
      </li>

      <li class="flex items-center">
        <span class="mr-2 font-bold">Longitude:</span>
          <span class="text-blue-500"> {{car.longitude}}</span>
      </li>
    </ul>
    <a href="/prediction/{{car.thing_id}}" class="inline-block px-4 py-2 my-6 font-bold text-white bg-blue-500 rounded i hover:bg-blue-700">Visit Prediction</a>
  </div>
</div>
<div class="mt-4">
  <!-- Animation of a yellow car sensor that can be clicked on goes here --> 
</div>


