

<fieldset class="w-full h-full p-3 border border-gray-300 border-solid rounded-md">
    <legend class="px-2 text-lg font-semibold text-gray-400 ">Alerts</legend>

    <div class="flex justify-start space-x-4 chart-container h-44">
        <div class="w-1/2">
            <canvas id="MyChart5" #distanceChart class="w-full h-44"></canvas>
        </div>
        <div class="w-1/2 ">

            <canvas id="MyChart6"  class="w-full h-44"></canvas>
        </div>

    </div>

    
    <div class="flex space-x-2 text-lg slider-controls">
        <button class="slider-button" >&#8249;</button>
        <button class="slider-button" >&#8250;</button>
    </div>
</fieldset>
