<div class="flex justify-between bg-gray-100 ">
    <div class="w-1/5 h-screen pb-10 ">
    <div class="flex flex-col flex-grow h-full pt-5 overflow-y-auto bg-white rounded-tr-lg rounded-br-lg shadow-md">
      <div class="flex items-center px-4 mt-10">
        <img class="w-auto h-12 max-w-full align-middle" src="/images/R-Wx_NHvZBci3KLrgXhp1.png" alt="" />
        <div class="flex flex-col ml-3">
          <h3 class="font-medium">Sarah Carter</h3>
          <p class="text-xs text-gray-500">Sr. Engineer</p>
        </div>
      </div>
  
      <span class="block mt-10 mb-2 ml-3 text-xs font-semibold text-gray-500">Analytics</span>
  
      <div class="flex flex-col flex-1 mt-3">
        <div class="">
          <nav class="flex-1">
            <a routerLink="/dashboard" title="" class="flex items-center px-4 py-2 text-sm font-medium transition-all duration-100 ease-in-out border-l-4 outline-none cursor-pointer border-l-rose-600 text-rose-600 focus:border-l-4">
              <svg class="w-5 h-5 mr-4 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" class=""></path>
              </svg>
              Dashboard
            </a>
  
  
  
            <a routerLink="/realtime" class="flex items-center px-4 py-2 text-sm font-medium text-gray-600 transition-all duration-100 ease-in-out outline-none cursor-pointer border-l-rose-600 hover:border-l-4 hover:border-l-rose-600 hover:text-rose-600 focus:border-l-4">
              <svg class="w-5 h-5 mr-4 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M20 13V6a2 2 0 00-2-2H6a2 2 0 00-2 2v7m16 0v5a2 2 0 01-2 2H6a2 2 0 01-2-2v-5m16 0h-2.586a1 1 0 00-.707.293l-2.414 2.414a1 1 0 01-.707.293h-3.172a1 1 0 01-.707-.293l-2.414-2.414A1 1 0 006.586 13H4" />
              </svg>
  
              Real time
            </a>
  
            <div class="relative transition">
              <input class="hidden peer" type="checkbox" id="menu-1" checked />
              <button class="relative flex items-center w-full px-4 py-3 text-sm font-medium text-gray-600 transition-all duration-100 ease-in-out outline-none peer border-l-rose-600 hover:border-l-4 hover:text-rose-600 focus:border-l-4">
                <span class="flex w-5 mr-5"
                  ><svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" /></svg></span>
                Analytics
                <label for="menu-1" class="absolute inset-0 w-full h-full cursor-pointer"></label>
              </button>
              <svg xmlns="http://www.w3.org/2000/svg" class="absolute right-0 h-4 ml-auto mr-5 text-gray-600 transition top-4 peer-checked:rotate-180 peer-hover:text-rose-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
              </svg>
              <ul class="flex flex-col m-2 overflow-hidden font-medium transition-all duration-300 bg-gray-100 duration-400 max-h-0 rounded-xl peer-checked:max-h-96">
                <li class="flex py-3 pl-5 m-2 text-sm text-gray-600 transition-all duration-100 ease-in-out cursor-pointer border-l-rose-600 hover:border-l-4 hover:text-rose-600">
                  <span class="mr-5"
                    ><svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6" /></svg></span>
                  Revenue
                </li>
                <li class="flex py-3 pl-5 m-2 text-sm text-gray-600 transition-all duration-100 ease-in-out cursor-pointer border-l-rose-600 hover:border-l-4 hover:text-rose-600">
                  <span class="mr-5"
                    ><svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z" /></svg></span>
                  Refunds
                </li>
              </ul>
            </div>
          </nav>
  
          <span class="block mt-10 mb-2 ml-3 text-xs font-semibold text-gray-500">Product Mangement</span>
  
          <nav class="flex-1">
            <a href="#" class="flex items-center px-4 py-2 text-sm font-medium text-gray-600 transition-all duration-100 ease-in-out outline-none cursor-pointer border-l-rose-600 hover:border-l-4 hover:border-l-rose-600 hover:text-rose-600 focus:border-l-4">
              <svg class="w-5 h-5 mr-4 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z" class=""></path>
              </svg>
              Products
            </a>
  
            <a href="#" class="flex items-center px-4 py-2 text-sm font-medium text-gray-600 transition-all duration-100 ease-in-out outline-none cursor-pointer border-l-rose-600 hover:border-l-4 hover:border-l-rose-600 hover:text-rose-600 focus:border-l-4">
              <svg class="w-5 h-5 mr-4 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01" />
              </svg>
              Orders
            </a>
            <a href="#" class="flex items-center px-4 py-2 text-sm font-medium text-gray-600 transition-all duration-100 ease-in-out outline-none cursor-pointer border-l-rose-600 hover:border-l-4 hover:border-l-rose-600 hover:text-rose-600 focus:border-l-4">
              <svg class="w-5 h-5 mr-4 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
              </svg>
  
              Suppliers
            </a>
          </nav>
  
          <span class="block mt-10 mb-2 ml-3 text-xs font-semibold text-gray-500">Content Management</span>
  
          <nav class="flex-1">
            <a href="#" class="flex items-center px-4 py-2 text-sm font-medium text-gray-600 transition-all duration-100 ease-in-out outline-none cursor-pointer border-l-rose-600 hover:border-l-4 hover:border-l-rose-600 hover:text-rose-600 focus:border-l-4">
              <svg class="w-5 h-5 mr-4 align-middle" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z" />
              </svg>
              Blogs
            </a>
          </nav>
        </div>
      </div>
    </div>
  </div>

  <div class="w-4/5 main" >

    <router-outlet></router-outlet>
  </div>


  
  </div>