@tailwind base;
@tailwind components;
@tailwind utilities;


/* .b{
    color1: rgba(4, 120, 228, 0.871);
    color2: rgb(244, 66, 66);
    color3: rgba(252, 224, 255, 0.829);
    color4: rgb(255, 224, 224);


} */

.toggle-checkbox:checked + .toggle-label {
    background-color: #10b981;
  }
  .toggle-checkbox:checked + .toggle-label::before {
    transform: translateX(1.5rem);
  }


  /* .background {
    background-image: url('../dist/geoloc/browser/assets/luke-chesser-JKUTrJ4vK00-unsplash.jpg');
    background-size: cover;
    background-position: center;
} */
.form-container {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.8);
}