@tailwind base;
@tailwind components;
@tailwind utilities;


/* .b{
    color1: rgba(147, 134, 206, 0.871);
    color2: rgb(139, 192, 138);
    color3: rgba(252, 224, 255, 0.829);
    color4: rgb(255, 224, 224);


} */